@font-face {
    font-family: pop;
    src: url(../public/Poppins-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    z-index: -0987654;
    background-color: chartreuse;
}


